
<div class="row" *ngIf="loading">
  <div class="col">
    <div class="alert alert-info text-center">
      <i class="fa fa-sync fa-spin fa-2x"></i>
      <h1>Espere...</h1>
    </div>
  </div>
</div>

<div class="row" *ngIf="error">
    <div class="col">
      <div class="alert alert-danger text-center">
        <i class="fa fa-times fa-2x"></i>
        <h2>Error: {{  error.status }} </h2>
        <p>
          {{ error.message }}
          <br><br>
          {{ error.url }}
        </p>
      </div>
    </div>
  </div>




<div class="card-columns" *ngIf="!loading">
  
  <div class="card" *ngFor="let user of usuarios">
    <img class="card-img-top" [src]="user.avatar">
    <div class="card-body">
      <h5 class="card-title"> {{ user.first_name }} {{ user.last_name }} </h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <p class="card-text">
        <span class="text-muted">
          ID: {{ user.id }}
        </span>
      </p>

    </div>
  </div>
 
</div>